name: Workflow Authorization

on:
  pull_request:
    branches:
      - main
  push:
  workflow_dispatch:

jobs:
  call-workflow:
    permissions:
      id-token: write
    uses: sghill/central-actions/.github/workflows/authz.yml@main
